.explore_our_courses {
  position: relative;
  padding-top: 120px;
  padding-bottom: 80px;
}

.explore_our_courses::before {
  content: "";
  position: absolute;
  bottom: -2%;
  left: 47%;
  width: 110%;
  height: 100px;
  background: #FBF6F3;
  border-radius: 50%;
  z-index: 1;
  transform: translate(-50%);
}

.explore_our_courses::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  width: 110%;
  height: 100px;
  background: #FBF6F3;
  border-radius: 50%;
  z-index: 1;
  transform: translate(-50%);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #FBF6F3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Mobile Responsive */
@media only screen and (max-width: 600px) {
  .explore_our_courses::after {
    height: 50px !important;
    top: 10% !important;
  }

  .explore_our_courses::before {
    height: 50px !important;
    bottom: 5% !important;
  }

  .explore_our_courses h2 {
    font-size: 1.5rem;
    padding: 0 1rem;
  }
}
