.explore_our_courses {
  position: relative;
  padding-bottom: 50px;
  background-color: #ffffff;
}

/* Removed the ::before and ::after pseudo-elements */

@media only screen and (max-width: 600px) {
  .explore_our_courses {
    padding-bottom: 30px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: #FBF6F3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
}
