.explore_our_courses {
  position: relative;
  background-color: #FBF6F3;
}

/* Removed ::before and ::after curves */

/* Responsive design retained */
@media only screen and (max-width: 600px) {
  .explore_our_courses {
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #FBF6F3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
