.marquee {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.marquee__content {
  display: flex;
  width: fit-content;
  animation: scroll-marquee 40s linear infinite;
}

.marquee__list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

/* Keyframes for smooth scrolling */
@keyframes scroll-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
