.swiper-button-next,
.swiper-button-prev {
  color: #4377b2 !important;
  background: white;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  font-weight: bold;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: #4377b2 !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.mySwiper {
  padding: 0 10px !important;
  padding-bottom: 40px !important;
  min-height: 100%;
}

@media (max-width: 768px) {
  .mySwiper {
    padding: 0 5px !important;
    padding-bottom: 40px !important;
  }
}
